music
*.png
*.csv
*.html
*.xml
.DS_Store
__pycache__/
*.pyc
apple2spotify/.spotify_auth_cache
apple2spotify/.spotify_auth_cache*
apple2spotify/.env
apple2spotify/apple_inventory.json
apple2spotify/migration_plan.json
apple2spotify/spotify_track_cache.json
apple2spotify/sync_report.json
apple2spotify/spotify_backups/
